
.one{
    background-color: #DCEAF5;
    padding-top: 96px;
}



.deedbox-box{
    margin-top: 43px;
    display: flex;
}

.image img{
    margin-bottom: -5px;
}


.text{
    width: 576px;
}

.text-h1 h1{
    font-size: 62px;
    font-weight: 600;
    line-height: 72px;
    letter-spacing: -3%;
    

}

.text-p p{
    color: #5B5B5B;
    font-weight: 500;
    font-size: 18px;
    line-height: 30px;
    margin-top: -30px;
}

.deedbox-button{
    display: flex;
    align-items: center;
}


.deedbox-button-left{
    background-color: #F58A07;
    width: 199px;
    border-radius: 27px;
    padding: 15px 32px ;
}

.deedbox-button-left a{
    color: #fff;
}

.deedbox-button-left:hover{
    background-color: #aa6410;
    transition: 0.5s all;

}


.deedbox-button-right a:hover{
    color: #000;
}

.deedbox-button-right{
    font-size: 16px;
    font-weight: 600;
    line-height: 17px;
    letter-spacing: 0px;
    text-align: left;
    margin-left: 40px;
    color: #1D3444;
}

.deedbox-worked{
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0px;
    text-align: left;
    color: #39414980;
}


.deedbox-footer{
    display: flex;
    justify-content: space-between;
}


























.two{
    padding-bottom: 96px;
    padding-top: 96px;
}

.twobox{
    margin-top: 83px;  
}


.two-box-h1{
    width: 735px;
}

.two-box-h1 h1{
    font-size: 48px;
    font-weight: 600;
    line-height: 56px;
    letter-spacing: -0.03em;
    text-align: left;
}

.two-box-p{
    width: 735px;
}
.two-box-p p{
    font-size: 18px;
    font-weight: 500;
    line-height: 30px;
    letter-spacing: 0em;
    text-align: left;
}





























.three{
    background-color: #EDF7FF;
}

.threebox{
    padding-top: 96px;
    padding-bottom: 96px;
    
}

.three-box{
    top: 96px;
    
}

.three-box-title{
    display: flex;
    justify-content: space-between;

}


.three-box-h1{
    width: 619px;
    margin-top: -10px;
}
.three-box-h1 h1{
    font-size: 36px;
    font-weight: 600;
    line-height: 44px;
    letter-spacing: -0.03em;
    text-align: left;
    color: #0D1317;
}

.three-box-p{
    width: 620px;
}

.three-box-p p{
    font-size: 18px;
    font-weight: 500;
    line-height: 30px;
    letter-spacing: 0em;
    text-align: left;
    color: #1D3444;
}

.three-box-help{
    display: flex;
    justify-content: space-between;
}


.help{
    width: 401px;
    background-color: #fff;
    border-radius: 20px;
}

.help img{
    margin-top: 48px;
    margin-left: 39px;

}

.help-body h5{
    font-size: 24px;
    font-weight: 600;
    line-height: 26px;
    letter-spacing: -0.03em;
    text-align: left;

}

.help-body{
    padding-left: 39px;
    width: 336px;
}































.fourbox{
    margin-top: 99px;
    display: flex;
    
}

.four-box-left{
    width: 596px;
    margin-top: 50px;
    
}

.four-box-left-h1{
    width: 596px;
}

.four-box-left-h1 h1{
    font-size: 48px;
    font-weight: 600;
    line-height: 56px;
    letter-spacing: -0.03em;
    text-align: left;
}

.four-box-left-p{
    width: 510px;
    
}


.four-box-left-p p{
    font-size: 18px;
    font-weight: 500;
    line-height: 30px;
    letter-spacing: 0em;
    text-align: left;
    color: #5B5B5B;
}

.four-box-left-door-left{
    width: 264px;
}
.four-box-left-door-right{
    width: 270px;

}

.four-box-left-door{
    display: flex;
    justify-content: space-between;
    margin-top: 45px;
}

.four-box-left-door h1{
    font-size: 24px;
    font-weight: 600;
    line-height: 26px;
    letter-spacing: -0.03em;
    text-align: left;
    
}

.four-box-left-door p{
    font-size: 16px;
    font-weight: 500;
    line-height: 28px;
    letter-spacing: 0em;
    text-align: left;
    
}

.four-box-right{
    margin-left: 47px;
}

.four-box-right img{
    border-radius: 20px;
}

.four-box-right-multiply{
    border-radius: 0px;
    background-blend-mode: multiply;
    background-color: #F58A07;
    
}








































.five{
    padding-top: 108px;
}

.five-box-right-top{
    width: 179px;
    margin-left: 1100px;
    margin-top: -20px;
    
    
    
}

.fivebox-bg{
    background-color: #EDF7FF;
    width: 1262px;
    height: 680px;
    border-radius: 20px;
}

.five-box-right-top img{
    margin-top: -16px;
    
}

.five-box-left-top{
    display: flex;
    width: 580px;
    margin-top: -120px;
    border-radius: 31px;
    justify-content: space-between;
    margin-left: 40px;
    
}

.five-box-left-top-left{
    border-radius: 31px;
    
}

.five-box-left-top-gol{
    width: 155px;
    border-radius: 31px;
    
}
.five-box-left-top-left-bg:hover{
    background-color: #f0bb79;
    transition: 1s all;
}

.five-box-left-top-left a:hover{
    color: #303234;
    transition: 1s all;
}

.five-box-left-top-gol-bg:hover{
    background-color: #f0bb79;
    transition: 1s all;
}

.five-box-left-top-gol a:hover{
    color: #303234;
    transition: 1s all;
}

.five-box-left-top-right-bg:hover{
    background-color: #f0bb79;
    transition: 1s all;
}

.five-box-left-top-right a:hover{
    color: #303234;
    transition: 1s all;
}



.five-box-left-top-right{
    width: 183px;
    border-radius: 31px;
    
}

.five-box-left-top-left a{
    width: 146px;
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 0px;
    text-align: left;
    color: #F58A07;   
    padding: 0px 20px; 
    line-height: 40px;

}

.five-box-left-top-left-bg{
    width: 194px;
    border-radius: 31px;
    background-color: #fff;
}

.five-box-left-top-gol a{
    width: 107px;
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 0px;
    text-align: left;
    color: #0632554D;  
    padding: 0px 20px;
    line-height: 40px;  
}

.five-box-left-top-gol-bg{
    width: 155px;
    border-radius: 31px;
    background-color: #EDF7FF;
    border: 1px solid #A8BCCC;
}

.five-box-left-top-right a{
    width: 135px;
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 0px;
    text-align: left;
    color: #0632554D; 
    padding: 0px 20px;
    line-height: 40px;
}

.five-box-left-top-right-bg{
    width: 183px;
    border-radius: 31px;
    background-color: #EDF7FF;
    border: 1px solid #A8BCCC;
}

.five-box-img-or-tag{
    
    display: flex;
    margin-left: 40px;
    margin-top: 80px;
}

.five-box-tag-h1{
    
    width: 572px;
    border-radius: 20px;
    
}

.five-box-tag-h1 h1{
    font-size: 48px;
    font-weight: 600;
    line-height: 56px;
    letter-spacing: -0.03em;
    text-align: left;

}

.five-box-tag-p{
    width: 510px;    
    line-height: 30px;
}

.five-box-tag-button{
    width: 160px;
    display: flex;
    justify-content: space-between;
    color: #F58A07;
    
}

.five-box-img{
     margin-left: 120px;
     
}

.five-box-tag-button::after{
    content: "";
}


.five-box-tag-button:hover::after{
    margin-left: -20px;
    transition: 0.3s all;
}































.six{

}



.sixbox{
    display: flex;
    height: 518px;

    margin-top: 128px;
}

.sixbox img{
    object-fit: cover;
}

.six-box-orange{
    width: 50%;
    border-radius: 0px;
    background-color: #F58A07;
    
    
}

.six-box-orange-p{
    width: 532px;   
    margin-left: 128px;
    margin-top: 128px;
    color: #fff;
}

.six-box-orange-p p{
    font-size: 48px;
    font-weight: 600;
    line-height: 56px;
    letter-spacing: -0.03em;
    text-align: left;
    
}

.six-box-orange-button{
    height: 54px;
    width: 216px;
    border-radius: 31px;
    background-color: #fff;
    margin-top: 59px;
    margin-left: 128px;
    
}    


.six-box-orange-button-a{
    height: 17px;
    width: 250px;
    padding: 15px 30px;
    
    
}    

.six-box-orange-button-a a{
    font-size: 16px;
    font-weight: 600;
    line-height: 17px;
    letter-spacing: 0px;
    text-align: left;
    color: #F58A07;
}    



.six-box-orange:hover{
    background-color: #f0bb79 ;
    transition: 3s all;
}

.six-box-orange-button-a a:hover{
    color: #aa6410;
    transition: 1s all;
}







































.seven{

}

.sevenbox{
    display: flex;
    margin-top: 128px;
}

    

.seven-box{
    border-radius: 0px; 
    
    
}

.seven-box-h1{
}

.seven-box-h1 h1{
    font-size: 48px;
    font-weight: 600;
    line-height: 56px;
    letter-spacing: -0.03em;
    text-align: left;

}

.seven-box-p{
    
    
}

.seven-box-p p{
    font-size: 18px;
    font-weight: 500;
    line-height: 30px;
    letter-spacing: 0em;
    text-align: left;
    color: #5B5B5B;
}

.seven-box-bottom{
    display: flex;
    width: 309px; 
    justify-content: space-between; 
    margin-top: 40px;   
}

.seven-box-bottom-img{
    
    width: 80px;
    margin-top: 20px;
    border-radius: 0px;    
}

.seven-box-bottom-tag-top{
    
    width: 200px;
}

.seven-box-bottom-tag-top p{
    font-size: 24px;
    font-weight: 500;
    line-height: 41px;
    letter-spacing: 0em;
    text-align: left;    
}

.seven-box-bottom-tag-bottom{
    
    width: 159px; 
}

.seven-box-bottom-tag-bottom a{
    font-size: 18px;
    font-weight: 500;
    line-height: 31px;
    letter-spacing: 0em;
    text-align: left;
    color: #F58A07;
    
}

.seven-box-img{
    border-radius: 200px;
}


.seven-box-img-img{
    border-radius: 20px;
}


.seven-box-img-button{
    height: 51px;
    width: 200px;
    border-radius: 0px;
    display: flex;    
    margin-left: 50px;
    margin-top: -90px;
    justify-content: space-between;

}

.seven-box-img-button-left{
    background-color: #fff;
    border-radius: 100px;
    width: 50px;
    
}

.seven-box-img-button-left-img img{
    padding: 19px 21px;  
}

.seven-box-img-button-right{
    height: 18px;
    width: 200px;
    margin-left: 17px;
    margin-top: 12px;
}

.seven-box-img-button-right a{
    font-size: 18px;
    font-weight: 600;
    line-height: 18px;
    letter-spacing: 0px;
    text-align: left;
    color: #fff;
    
}



.seven-box-bottom-tag-bottom a:hover{
    color: #aa6410;
    transition: 0.5s all;
}

.seven-box-img-button-right a:hover{
    color: #f0bb79;
    transition: 0.5s all;
}






























 

















.last{
    background-color: #DCEAF5;
    padding-bottom: 96px;
}




.lastbox{
    margin-top: 128px;
}


.lastbox-bottom{
    display: flex;
    margin-top: 64px;
    justify-content: space-between;
    height: 500px;
}

.last-box-h1{
    padding-top: 96px;
}

.last-box-h1 h1{
    font-size: 48px;
    font-weight: 600;
    line-height: 56px;
    letter-spacing: -0.03em;
    text-align: left;
    
}

.lastbox-bottom .card{
    background-color: #fff;
    border-radius: 20px;
    
}

.lastbox-bottom .card-body{
    padding-top: 10px;
    padding-left: 40px;
}
























































