

.serone{
    
}

.serviceonebox{
    height: 650px;
    display: flex;

}



.onebox-left{
    height: 385px;
    width: 618px;
    left: 320px;
    margin-top: 50px;
    border-radius: 27px; 
       
}

.onebox-left-h1{
    height: 216px;
    width: 618px;   
}

.onebox-left-h1 h1{
    font-size: 64px;
    font-weight: 600;
    line-height: 72px;
    letter-spacing: -0.03em;
    text-align: left;
    
}

.onebox-left-p{
    height: 59px;
    width: 510px;
    margin-top: 24px;
}

.onebox-left-p p{
    font-size: 18px;
    font-weight: 500;
    line-height: 30px;
    letter-spacing: 0em;
    text-align: left;
    color: #5B5B5B;
    
}

.onebox-left-button{
    height: 54px;
    width: 150px;
    margin-top: px;
    border-radius: 27px;    
    background-color: #F58A07;
    border-radius: 27px;
}

.onebox-left-button-tag{
    height: 17px; 
    padding: 15px 20px;
}

.onebox-left-button-tag a{
    font-size: 16px;
    font-weight: 600;
    line-height: 17px;
    letter-spacing: 0px;
    text-align: left;
    color: #fff;
}

.onebox-right{
    margin-left: 40px;
}




.onebox-left-button:hover{
    background-color: #aa6410;
    transition: 1s all;
}
































.servicetwobox{
    margin-top: 90px;
    
    
}

.two-box-1{    
    display: flex;
    justify-content: space-between;
    
}

.two-box-1-left-orange{
    border-radius: 20px;
    
    
}

.two-box-1-right{
    height: 294px;
    width: 584px;
    margin-left: 65px;
    border-radius: 0px; 
    margin-top: 100px;   
}



.two-box-1-right-h1 h1{
    font-size: 48px;
    font-weight: 600;
    line-height: 56px;
    letter-spacing: -0.03em;
    text-align: left;
    
}

.two-box-1-right-p{
    height: 90px;
    width: 583px;   
    margin-top: 24px; 
}

.two-box-1-right-p p{
    font-size: 18px;
    font-weight: 500;
    line-height: 30px;
    letter-spacing: 0em;
    text-align: left;
    color: #5B5B5B;
}

.two-box-1-right-ul{
    height: 100px;
    width: 347px;  
    margin-top: 24px;  
    line-height: 40px;
}



.ulli::before{
    content: "●";
}




























.two-box-2{
    
    border-radius: 20px;
    display: flex;
    margin-top: 128px;
}

.two-box-2-left{
    margin-left: 50px; 
    margin-top: 150px;
}

.two-box-2-left-h1{
    height: 56px;
    width: 302px;    
}

.two-box-2-left-h1 h1{
    font-size: 48px;
    font-weight: 600;
    line-height: 56px;
    letter-spacing: -0.03em;
    text-align: left;
    
}

.two-box-2-left-p{
    height: 150px;
    width: 580px;    
}

.two-box-2-left-p p{
    font-size: 18px;
    font-weight: 500;
    line-height: 30px;
    letter-spacing: 0em;
    text-align: left;
    
}































.two-box-3{
    height: 550px;
    width: 1328px;  
    margin-top: 200px;  
    display: flex;
    margin-top: 128px;
}

.two-box-3-left{

}

.two-box-3-right{
    height: 294px;
    width: 582px;  
    margin-left: 76px;
    margin-top: 100px;
}

.two-box-3-right-h1{
    height: 56px;
    width: 400px;

}

.two-box-3-right-h1 h1{
    font-size: 48px;
    font-weight: 600;
    line-height: 56px;
    letter-spacing: -0.03em;
    text-align: left;

    
}

.two-box-3-right-p{
    height: 90px;
    width: 583px;  
    margin-top: 24px;  
}

.two-box-3-right-p p{
    font-size: 18px;
    font-weight: 500;
    line-height: 30px;
    letter-spacing: 0em;
    text-align: left;
    
}

.two-box-3-right-ul{
    height: 100px;
    width: 276px;  
    margin-top: 24px;
    line-height: 40px;  
}
































.two-box-4{
    height: 550px;
    width: 1328px;
    border-radius: 20px;
    margin-top: 128px;
    display: flex;
}

.two-box-4-left{
    height: 230px;
    width: 580px;  
    margin-top: 150px;
    margin-left: 50px;  
}

.two-box-4-left-h1{
    height: 56px;
    width: 469px;    
}

.two-box-4-left-h1 h1{
    font-size: 48px;
    font-weight: 600;
    line-height: 56px;
    letter-spacing: -0.03em;
    text-align: left;
    
}

.two-box-4-left-p{
    height: 150px;
    width: 580px;    
}

.two-box-4-left-p p{
    font-size: 18px;
    font-weight: 500;
    line-height: 30px;
    letter-spacing: 0em;
    text-align: left;
    
}

.two-box-4-right{
    height: 550px;
    width: 668px;
    border-radius: 20px;
    
}






























.two-box-5{
    height: 550px;
    width: 1324px;
    margin-top: 128px;
      
    display: flex;
}

.two-box-5-left{

}

.two-box-5-right{
    height: 294px;
    width: 584px;  
    margin-left: 65px;
    margin-top: 100px;  
}

.two-box-5-right-h1{
    height: 56px;
    width: 386px;    

}


.two-box-5-right-h1 h1{
    font-size: 48px;
    font-weight: 600;
    line-height: 56px;
    letter-spacing: -0.03em;
    text-align: left;
    
}


.two-box-5-right-p{
    height: 90px;
    width: 583px;    
    margin-top: 24px;
}

.two-box-5-right-p p{
    font-size: 18px;
    font-weight: 500;
    line-height: 30px;
    letter-spacing: 0em;
    text-align: left;
    
}

.two-box-5-right-ul{
    height: 100px;
    width: 270px;
    margin-top: 24px;
    line-height: 40px;
}



































.serthree{
    padding-top: 96px;
    padding-bottom: 96px;

}


.threebox{ 
    display: flex;
    margin-top: 42px;
}

    

.three-box{
    height: 346px;
    width: 550px;
    border-radius: 0px; 
    
}

.three-box-h1{
    height: 112px;
    width: 550px;
}

.three-box-h1 h1{
    font-size: 48px;
    font-weight: 600;
    line-height: 56px;
    letter-spacing: -0.03em;
    text-align: left;

}

.three-box-p{
    height: 90px;
    width: 550px;   
}

.three-box-p p{
    font-size: 18px;
    font-weight: 500;
    line-height: 30px;
    letter-spacing: 0em;
    text-align: left;
    color: #5B5B5B;
}

.three-box-bottom{
    display: flex;
    height: 80px;
    width: 309px;
    border-radius: 0px;    
    justify-content: space-between; 
    margin-top: 40px;   
}

.three-box-bottom-img{
    height: 80px;
    width: 80px;
    margin-top: 20px;
    border-radius: 0px;    
}

.three-box-bottom-tag-top{
    height: 41px;
    width: 200px;
}

.three-box-bottom-tag-top p{
    font-size: 24px;
    font-weight: 500;
    line-height: 41px;
    letter-spacing: 0em;
    text-align: left;    
}

.three-box-bottom-tag-bottom{
    height: 31px;
    width: 159px; 
}

.three-box-bottom-tag-bottom a{
    font-size: 18px;
    font-weight: 500;
    line-height: 31px;
    letter-spacing: 0em;
    text-align: left;
    color: #F58A07;
    
}

.three-box-img{
    height: 501px;
    width: 620px;

    border-radius: 20px;
}


.three-box-img-img{
    height: 501px;
    width: 620px;
    margin-left: 110px;
    border-radius: 20px;
}


.three-box-img-button{
    height: 51px;
    width: 200px;
    border-radius: 0px;
    display: flex;    
    margin-left: 150px;
    margin-top: -90px;
    justify-content: space-between;
    
}

.three-box-img-button-left{
    background-color: #fff;
    height: 51px;
    width: 51px;
    border-radius: 100px;
    
}

.three-box-img-button-left-img img{
    padding: 19px 21px;  
}

.three-box-img-button-right{
    height: 18px;
    width: 200px;
    margin-left: 17px;
    margin-top: 12px;
}

.three-box-img-button-right a{
    font-size: 18px;
    font-weight: 600;
    line-height: 18px;
    letter-spacing: 0px;
    text-align: left;
    color: #fff;
    
}


.three-box-bottom-tag-bottom a:hover{
    color:#303234;
    transition: 0.5s all  ;
}


.three-box-img-button-right a:hover{
    color:#F58A07;
    transition: 0.5s all;
}

























.last{
    background-color: #DCEAF5;
    padding-bottom: 96px;
    
}




.lastbox{
    display: flex;
}


.lastbox-bottom{
    display: flex;
    margin-top: 64px;
    justify-content: space-between;
    height: 500px;
}

.last-box-h1{
    padding-top: 96px;
}

.last-box-h1 h1{
    font-size: 48px;
    font-weight: 600;
    line-height: 56px;
    letter-spacing: -0.03em;
    text-align: left;
    
}


.lastbox-bottom .card{
    background-color: #fff;
    border-radius: 20px;
    
}

.lastbox-bottom .card-body{
    padding-top: 10px;
    padding-left: 40px;
}


















